{% extends "base.html" %}

{% block title %}Sing In{% endblock %}


{% block body %}

<div class="container" style="margin-top: 10px; background-color: #aea9b0; padding: 10px; border-radius: 20px;">
  <div class="mb-3" style="text-align: center">
    <h1>Login</h1>
  </div>
  <form method="post" autocomplete="off">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="username" placeholder="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="password">
    </div>
    <div class="mb-3" style="text-align: center">
      <button type="submit" class="btn btn-secondary btn-lg">Sign In</button>
    </div>
  </form>
</div>


{% endblock %}
